@font-face {
    font-family: humane;
    src: url("../../assets/Humane-SemiBold\ \(1\).otf");
}
@font-face {
    font-family: humaneBold;
    src: url("../../assets/Humane-Bold\ \(1\).otf");
}


.homepage {
    background-color: rgb(29, 36, 230);
    overflow-x: scroll;
}

.modalText {
    font-size: calc(48px + 0.390625vw);
    font-family: humaneBold !important;
    color: rgb(241, 0, 0);
    z-index: 2;
    letter-spacing: 2px;
    filter: drop-shadow(0 0px 1px);
}