/* width */
::-webkit-scrollbar {
  background: linear-gradient(335deg, rgb(31, 31, 31) 0%, rgb(0, 0, 0) 100%);
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  opacity: 20%;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(335deg, rgb(63, 63, 64) 0%, rgb(189, 202, 222) 100%);
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(335deg, rgb(126, 2, 2) 0%, rgb(26, 0, 0) 100%);
}


.html,body {
  background: linear-gradient(335deg, rgb(31, 31, 31) 0%, rgb(0, 0, 0) 100%);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}