@font-face {
    font-family: humane;
    src: url("../assets/Humane-SemiBold\ \(1\).otf");
}
@font-face {
    font-family: humaneBold;
    src: url("../assets/Humane-Bold\ \(1\).otf");
}

@font-face {
    font-family: nerv-font;
    src: url("../assets/nerv-font.otf");
}

@media only screen and (max-width: 600px) {
    .cardContainer {
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 5em;
    }
}

@media only screen and (min-width: 600px) {
    .cardContainer {
        padding-left: 3em;
        padding-right: 3em;
        padding-top: 5em;
    }
}

@media only screen and (min-width: 768px) {
    .cardContainer {
        padding-left: 4em;
        padding-right: 4em;
        padding-top: 5em;
    }
}

@media only screen and (min-width: 992px) {
    .cardContainer {
        padding-left: 4em;
        padding-right: 4em;
        padding-top: 5em;
    }
}

@media only screen and (min-width: 1200px) {
    .cardContainer {
        padding: 5em;
    }
}

@media only screen and (min-width: 1400px) {
    .cardContainer {
        justify-content: center;
        text-align: center;
        padding-right: 20em;
        padding-left: 20em;
        width: 100%;
        margin: 0;
    }
}

.cardContainer {
    columns: 2 335px;
    justify-content: center;
    align-items: center;
    overflow-y: auto;

}

@media screen and (min-width: 825px) {
    .showCardContainer {
    margin-top: 2em;
    margin-bottom: 2em;
    }
}

.showCardContainer {
    filter: drop-shadow(0px 0px 5px);

}

@media only screen and (min-width: 1400px) {
    .currentImg {
        width: 60%;
    }
}

@media only screen and (min-width: 1400px) {
    .pastImg {
        width: 40%;
    }
}

.currentImg {
    transition: 0.3s;
    width: 100%;
}

.currentImg:hover {
    filter:invert(1);
    transform: skew(-2deg, -1deg);
}

@media only screen and (max-width: 600px) {
    .pastCardContainer {
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 5em;
    }
}

@media only screen and (min-width: 600px) {
    .pastCardContainer {
        padding-left: 3em;
        padding-right: 3em;
        padding-top: 5em;
    }
}

@media only screen and (min-width: 768px) {
    .pastCardContainer {
        padding-left: 4em;
        padding-right: 4em;
        padding-top: 5em;
    }
}

@media only screen and (min-width: 992px) {
    .pastCardContainer {
        padding-left: 4em;
        padding-right: 4em;
        padding-top: 5em;
    }
}

@media only screen and (min-width: 1200px) {
    .pastCardContainer {
        padding: 5em;
    }
}

@media only screen and (min-width: 1400px) {
    .pastCardContainer {
        justify-content: center;
        text-align: center;

    }
}

.pastCardContainer {
    columns: 4;
}

@media screen and (min-width: 825px) {
    .pastShowCardContainer {
    margin-top: 0em;
    margin-bottom: 0em;
    }
}

.pastShowCardContainer {
    filter: drop-shadow(0px 0px 5px);

}

.pastImg {
    filter:invert(1);
    width: 100%;
}
